params.reads = "/beegfs/mk5636/covid19/readsim-auto-1/out/readsim/*.fq"
params.bams = "[!*]"
params.ref = "/genomics/genomes/Public/Virus/SARS-CoV2/NCBI/Wuhan-Hu-1/SARS-CoV2.fa"
params.outdir = "/beegfs/mk5636/covid19/readsim-auto-1/"
params.adapters = "/share/apps/trimmomatic/0.36/adapters/NexteraPE-PE.fa"
params.pl = "illumina"
params.pm = "miseq"
params.fcid = "readsim-auto-1"
params.grouping_regex = ""
params.read_pair_regex = "_read[12]"

params.do_sim_reads = false
params.seq_error_model = "static/readsim/CV_03_SeqErrorModel.p"
params.mut_model = "static/readsim/CV_03_MutModel.p"
params.pe_model = "static/readsim/fraglen.p"
params.readsim_covs = [100,1000]

// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// Slurm settings
process {
    executor = 'slurm'
    cpus = 10
    memory = '20 GB'
    time = '20 min'
    withName: markDuplicatesSpark { memory = '60 GB'}
    withName: trim { cpus = '10'} 
}

