params.reads = "[!*]"
params.bams = "[!*]"
params.ref = "/scratch/work/cgsb/genomes/In_house/Virus/SARS-CoV2/NCBI/Wuhan-Hu-1/SARS-CoV2.fa"
params.adapters = "/share/apps/trimmomatic/0.36/adapters/NexteraPE-PE.fa"
params.pl = "illumina"
params.pm = "miseq"
params.fcid = "readsim-all-latest-2"
params.outdir = "/beegfs/mk5636/covid19/" + params.fcid 
params.grouping_regex = ""
params.read_pair_regex = "_read[12]"
//params.read_pair_regex = "_data-4_[12]"

params.do_sim_reads = true
params.mut_model_vcf = "/home/mk5636/nextflow_work/readsim/static/readsim/2019-nCoV_total_clean.vcf"
params.error_model_fq_read1 = "/home/mk5636/nextflow_work/readsim/static/readsim/HNLNCBGXF_n01_CV-39.fastq.gz"
params.error_model_fq_read2 = "/home/mk5636/nextflow_work/readsim/static/readsim/HNLNCBGXF_n02_CV-39.fastq.gz"
params.readsim_model_bam = "/home/mk5636/nextflow_work/readsim/static/readsim/CV-39_fixed.bam"

params.readsim_cov = 100000
params.readsim_downsample_fracs = [[5, 1.0], [6, 0.1], [7, 0.01], [8, 0.001], [9, 0.0001], [10, 0.00001], [11, 0.002], [12, 0.003], [13, 0.005]]
params.readsim_allele_fracs = [0.01, 0.02, 0.03, 0.05, 0.1, 0.2, 0.25, 0.5, 'random']
params.freebayes_configs = [["default", "-p 1 -F 0.01"]]

// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// Slurm settings
process {
    executor = 'slurm'
    cpus = 10
    memory = { '60 GB' }
    time = { '120 min' }
    withName: markDuplicatesSpark { time = '180 min'; memory = '60 GB'; cpus = '20'}
    withName: trim { cpus = '20' } 
    withName: readsim_2 { time = '240 min'; cpus = '20' }
    withName: readsim_1 { time = '240 min' }
    errorStrategy = 'retry'
    maxRetries = 3
}
